<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.detroitpencil.jjpod.dpcapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreen" />
        <activity android:name=".RegisterScreen" />
        <activity android:name=".CreateScreen1" />
        <activity android:name=".CreateScreen2" />
        <activity android:name=".CreateScreen3" />
        <activity android:name=".CreateScreen4" />
        <activity android:name=".CreateScreen5" />
        <activity android:name=".DeliveryCheckScreen" />
        <activity android:name=".DeliveryScreen1" />
        <activity android:name=".DeliveryScreen2" />
        <activity android:name=".DeliveryScreen3" />
        <activity android:name=".AdditionalInfoScreen" />
        <activity android:name=".ReviewScreen" />
        <activity android:name=".Phase2InboxScreen" />
        <activity android:name=".ReviewP1InfoScreen" />
        <activity android:name=".PricingProfilesScreen1" />
        <activity android:name=".PricingProfilesScreen2" />
        <activity android:name=".Phase3InboxScreen" />
        <activity android:name=".ReviewP2InfoScreen" />
        <activity android:name=".StatusScreen"></activity>
    </application>

</manifest>